<% @page_title = "Download" %>
<h1>Download</h1>
<div id="about-content">
	<p>
		Nothing earth shattering here but if you want to check out the code for this 
		site it is available on <a href="http://github.com/house9/tic-tac-toe-on-rails">github</a>
	</p>
	<p>
		You are welcome to do just about anything you like with this code, but just to keep everything legit
		it is licensed under the <a href="http://www.opensource.org/licenses/mit-license.php">MIT Open Source Initiative</a>.
	</p>
	<p>
		See the file in the root of the source code - license.txt for the details
	</p>	
	<p>
		<br />
	</p>		
</div>


