<% @page_title = "Home" %>
<h1>Tic Tac Toe on Rails</h1>
<div id="about-content">
	<p>
		Well after months upon months of reading about <a href="http://www.ruby-lang.org/">ruby</a> and <a href="http://www.rubyonrails.com/">rails</a> I finally had to check it out.
		I started by converting an old content management site I had written in aspx, but soon realized I needed
		something new and different to work on and I really wanted to check out some <a href="http://en.wikipedia.org/wiki/Ajax_%28programming%29">ajax</a> stuff using <a href="http://www.rubyonrails.com/">rails</a>.
	</p>
	<p>
		<a href="http://en.wikipedia.org/wiki/Tic-tac-toe">Tic tac toe</a> seemed like a fun project to work on. It is very visual and can be implemented in a very simple manner or could be done in a much more complex manner.
		I have started with the most simple implementation of the game I could come up with but down the road I think it would be interesting
		to create a more complex version that may possibly run off a business rules engine like <a href="http://rools.rubyforge.org/">rools</a>; well that is if I can find the time, I imagine this site won't change much in the near future.
	</p>
	<p>
		<a title="Play Tic Tac Toe" href="/play/standard"><img src="/images/icon_play_02.png" border="0" align="left" alt="Play Tic Tac Toe" /></a>
		<span style="font-size:18px;">Play some Tic-Tac-Toe</span><br />
		I need to apologize in advance if you thought you were going to get to play a challenging opponent. The application just 
		uses a random algorithm to determine its moves, no attempt was made to try and make it a smart player. Ok, are you ready? You are X's and I am O's! <a href="/play/standard">Click here</a> to play the standard Tic-Tac-Toe.
	</p>	
	<p align="left">
		<a title="Download" href="/download"><img src="/images/icon_download_02.png" border="0" align="right" alt="Download" /></a>
		<span style="font-size:18px;">Download the source code</span><br />
		Download the source code for this site; nothing earth shattering here, but it is pretty amazing how little javascript was needed to create the ajax enabled UI. 
		<a href="/download">Click here</a> for instructions on downloading the source code.
	</p>
</div>



