<% @page_title = "Terms of use" %>
<h1>tictactoeonrails.com TERMS OF USE AGREEMENT</h1>
<div id="about-content">
	<p>
		Use of the tictactoeonrails.com website and its services are subject to the following Terms of Use Agreement ("TOU"). 
		tictactoeonrails.com reserves the right to update the TOU at any time without notice. By using this website,
		you acknowledge and agree to these limitations as set forth	
	</p>
	<p>
		<span style="font-weight:bold;">LIMITS OF LIABILITY</span><br />
		tictactoeonrails.com makes no warranties or representations of any kind that the services provided by this website or any 
		linked site will be uninterrupted, error-free, or that the site or the server that hosts the site are free from 
		viruses or other forms of harmful computer code. All such information is provided "as is," and with specific disclaimer 
		of any warranties of merchantability, fitness for a particular purpose, title, or non-infringement. In no event shall tictactoeonrails.com, its agents, 
		or anyone else who has been involved in the creation, production, or delivery of these pages, be liable for any direct, incidental, 
		or consequential damages resulting from the use of this website or any linked site.		
	</p>
	<p>
		<span style="font-weight:bold;">EXTERNAL LINKS </span><br />
		Links to other websites do not imply an endorsement of the materials disseminated at those websites, 
		nor does the existence of a link to another site imply that the organization or person publishing at 
		that site endorses any of the materials at this site. Links to other websites are provided by 
		tictactoeonrails.com as a convenience to its users. tictactoeonrails.com is not responsible for the materials contained at any 
		website linked to this site.		
	</p>
	<p>

	</p>	
	<p>
		<br />
	</p>		
</div>


